# Multiclass Text Classification

Pada latihan kali ini kita akan melakukan klasifikasi teks multikelas menggunakan lstm.

Pada latihan ini kita akan menggunakan dataset yang berisi sinopsis dari beberapa film Indonesia dan genrenya. Tujuan kita adalah menentukan genre sebuah film berdasarkan sinopsisnya. Dataset dapat Anda unduh pada [tautan](https://www.kaggle.com/antoniuscs/imdb-synopsis-indonesian-movies) berikut.

Pada cell pertama impor library pandas dan ubah dataset menjadi dataframe. Kemudian buang kolom 'judul_film' karena kita hanya akan menggunakan sinopsis sebagai atribut untuk dilatih pada model.

In [ ]:
    import pandas as pd
    df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dicoding/dataset/imdb_indonesian_movies_2.csv')
    df = df.drop(columns=['judul_film'])

In [ ]:
df

                                     ringkasan_sinopsis     genre
0     Raden Mas Said putra sulung Tumenggung Wilarik...     Drama
1     Soe Hok Gie adalah seorang aktivis yang hidup ...     Drama
2     Guru Bangsa Tjokroaminoto menceritakan tentang...     Drama
3     POL menceritakan kisah hidup yang luar biasa d...     Drama
4     Perjalanan pahlawan Indonesia KH Ahmad Dahlan ...     Drama
...                                                 ...       ...
1000  Winter in Tokyo berpusat pada kehidupan Ishida...  Romantis
1001  Markonah melarikan diri ke Jakarta karena akan...  Romantis
1002  Tempat aking lebih dari 36 jam, Last Night ada...  Romantis
1003  Proyek baru ini adalah tentang seorang lelaki ...  Romantis
1004  Atika (Meriam Bellina) mantan penyanyi tenar, ...  Romantis

[1005 rows x 2 columns]

Karena label kita berupa data kategorikal, maka kita perlu melakukan proses one-hot-encoding. Jalankan kode di bawah untuk melakukan one-hot-encoding dan membuat dataframe baru.

In [ ]:
    category = pd.get_dummies(df.genre)
    df_baru = pd.concat([df, category], axis=1)
    df_baru = df_baru.drop(columns='genre')
    df_baru

                                     ringkasan_sinopsis  Drama  ...  Laga  Romantis
0     Raden Mas Said putra sulung Tumenggung Wilarik...      1  ...     0         0
1     Soe Hok Gie adalah seorang aktivis yang hidup ...      1  ...     0         0
2     Guru Bangsa Tjokroaminoto menceritakan tentang...      1  ...     0         0
3     POL menceritakan kisah hidup yang luar biasa d...      1  ...     0         0
4     Perjalanan pahlawan Indonesia KH Ahmad Dahlan ...      1  ...     0         0
...                                                 ...    ...  ...   ...       ...
1000  Winter in Tokyo berpusat pada kehidupan Ishida...      0  ...     0         1
1001  Markonah melarikan diri ke Jakarta karena akan...      0  ...     0         1
1002  Tempat aking lebih dari 36 jam, Last Night ada...      0  ...     0         1
1003  Proyek baru ini adalah tentang seorang lelaki ...      0  ...     0         1
1004  Atika (Meriam Bellina) mantan penyanyi tenar, ...      0  ...     0         1

[1005 rows x 6 columns]

Agar dapat diproses oleh model, kita perlu mengubah nilai-nilai dari dataframe ke dalam tipe data numpy array menggunakan atribut values.

In [ ]:
    sinopsis = df_baru['ringkasan_sinopsis'].values
    label = df_baru[['Drama', 'Horor', 'Komedi', 'Laga', 'Romantis']].values

In [ ]:
sinopsis

array(['Raden Mas Said putra sulung Tumenggung Wilarikta di bawah Kerajaan Majapahit yang berkuasa di wilayah Tuban melihat sekeluarga miskin yang menderita busung lapar. Ia merasa sangat prihatin dan hati nuraninya tergugah untuk menolong. Kemudian ia mencoba secara diam-diam mengambil makanan dari lumbung orang tuanya. Perbuatan itu tidak disetujui orang tuanya bahkan ia dihukum sekap di gudang makanan itu. Sejak kejadian itu RM Said yang tumbuh dewasa tidak betah tinggal di rumah. Ia berkelana dari daerah satu ke daerah lainnya. Dari sanalah ia tahu betapa banyak penyelewengan dan kesewenang-wenangan para lurah yang munafik. Mereka selalu mengkambing-hitamkan Tumenggung untuk menutupi kejahatannya. Atas laporan RM Said ayahnya kemudian sadar. Tetapi kemudian ia dianggap sebagai sumber fitnah. Dalam kelananya kemudian ia bertemu dengan Sunan Bonang yang banyak mencurahkan ilmunya kepada RM Said. Ia pun kemudian melakukan tapa di pinggir kali. Berkat ketabahannya menghadapi berbagai cobaan RM Said mendapatkan "Nur" (kekuatan) dari Ilahi. Kemudian ia diangkat menjadi Wali yang terkenal dalam deretan nama Sembilan Wali (Wali Sanga) dengan nama Sunan Kalijaga.',
       'Soe Hok Gie adalah seorang aktivis yang hidup di tahun enam puluhan. Terletak di era paling gelap sejarah modern Indonesia GIE adalah interpretasi dari apa yang terjadi berdasarkan jurnalnya.',
       'Guru Bangsa Tjokroaminoto menceritakan tentang setelah lepas dari era tanam paksa di akhir tahun 1800 Hindia Belanda memasuki babak baru yang berpengaruh dalam kehidupan masyarakatnya yaitu dengan gerakan politik etis yang dilakukan oleh pemerintah Belanda. Tetapi kemiskinan masih banyak terjadi. Rakyat banyak yang belum mengenyam pendidikan dan kesenjangan sosial antaretnis dan kasta masih terlihat jelas.',
       ...,
       'Tempat aking lebih dari 36 jam, Last Night adalah tentang pasangan yang sudah menikah, Joanna dan Michael Reed, yang berbagi apartemen di New York City. Joanna adalah seorang penulis dan Michael adalah agen real estat komersial. Selama pesta dengan rekan-rekan Michael, Joanna memperhatikan dia menghabiskan waktu dengan rekan kerja yang menarik, Laura Nunez, dan bertanya-tanya mengapa dia belum disebutkan sebelumnya. Joanna mencurigai Michael berselingkuh, dan menghadapkannya ketika mereka kembali ke rumah. Mereka bertengkar, tetapi berdamai nanti malam itu. Keesokan harinya, Michael pergi dalam perjalanan bisnis ke Philadelphia bersama rekan-rekannya Laura dan Andy; Joanna tetap tinggal untuk mengerjakan sebuah novel. Saat mendapatkan kopi, Joanna bertemu mantan pacarnya Alex Mann, dan mereka pergi ke bar di kemudian hari. Mereka makan malam dengan dua orang teman Alex, Sandra dan Truman, dan mereka mendiskusikan hubungan masa lalu mereka dan pernikahan Joanna dengan Michael. Joanna telah bertemu Michael di Paris saat mengerjakan sebuah cerita; dia tidak pernah memberi tahu Michael tentang Alex.',
       'Proyek baru ini adalah tentang seorang lelaki Indo-Trinidadian yang kembali ke India untuk mencari akarnya, tetapi hidupnya menjadi terbalik ketika mantannya terlihat ingin menyelesaikan perceraian mereka. Film berlangsung di T & T dan India, dan mengikuti perjalanan pasangan bersama-sama saat mereka memetakan masa lalu yang hilang, dan menemukan diri mereka secara tak terduga menghidupkan kembali romantisme mereka.',
       'Atika (Meriam Bellina) mantan penyanyi tenar, berusaha untuk bangkit kembali dari lembah narkotika. Kepada ibunya yang mengajak kembali ke Yogya, ia menyatakan tetap tinggal di Jakarta dan menetap di rumah budenya. Usahanya menemui jalan buntu. Semua kawan dan pemilik tempat hiburan menolak memakai dia. Bahkan ia sempat ditipu seorang panitia pertunjukan. Meski demikian keberuntungan datang juga. Perkenalannya dengan Sakti (Achan Rachman), seorang koreografer membuatnya bergairah untuk meniti karier kembali. Namun cobaan datang lagi. Pacar lama Sakti, Elisa (Henidar Amroe), yang telah kawin dengan anak pengusaha kaya, Willy (August Melasz) berusaha untuk memisahkan mereka. Namun Atika kembali bangkit dan berhasil.'],
      dtype=object)

In [ ]:
label

array([[1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       ...,
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1]], dtype=uint8)

Lalu, bagi data untuk training dan data untuk testing.

In [ ]:
    from sklearn.model_selection import train_test_split
    sinopsis_latih, sinopsis_test, label_latih, label_test = train_test_split(sinopsis, label, test_size=0.2)

Kemudian kita ubah setiap kata pada dataset kita ke dalam bilangan numerik dengan fungsi Tokenizer. Setelah tokenisasi selesai, kita perlu membuat mengonversi setiap sampel menjadi sequence.

In [ ]:
    from tensorflow.keras.preprocessing.text import Tokenizer
    from tensorflow.keras.preprocessing.sequence import pad_sequences
     
    tokenizer = Tokenizer(num_words=5000, oov_token='x')
    tokenizer.fit_on_texts(sinopsis_latih) 
    tokenizer.fit_on_texts(sinopsis_test)
     
    sekuens_latih = tokenizer.texts_to_sequences(sinopsis_latih)
    sekuens_test = tokenizer.texts_to_sequences(sinopsis_test)
     
    padded_latih = pad_sequences(sekuens_latih) 
    padded_test = pad_sequences(sekuens_test)

In [ ]:
padded_latih

array([[   0,    0,    0, ..., 4678,   13, 4678],
       [   0,    0,    0, ...,  263,  355,  728],
       [   0,    0,    0, ...,   32,   22,  318],
       ...,
       [   0,    0,    0, ...,  141, 4678, 4678],
       [   0,    0,    0, ..., 4129,   75, 4678],
       [   0,    0,    0, ...,   60,  276,  211]], dtype=int32)

Untuk arsitektur model kita menggunakan layer Embedding dengan dimensi embedding sebesar 16, serta dimensi dari input sebesar nilai num_words pada objek tokenizer. Jangan lupa panggil fungsi compile dan tentukan optimizer serta loss function yang akan dipakai oleh model.

In [ ]:
    import tensorflow as tf
    model = tf.keras.Sequential([
        tf.keras.layers.Embedding(input_dim=5000, output_dim=16),
        tf.keras.layers.LSTM(64),
        tf.keras.layers.Dense(128, activation='relu'),
        tf.keras.layers.Dense(64, activation='relu'),
        tf.keras.layers.Dense(5, activation='softmax')
    ])
    model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

Terakhir kita dapat mulai melatih model kita dengan memanggil fungsi fit().

In [ ]:
    num_epochs = 30
    history = model.fit(padded_latih, label_latih, epochs=num_epochs, 
                        validation_data=(padded_test, label_test), verbose=2)

Epoch 1/30
26/26 - 15s - loss: 1.6099 - accuracy: 0.1841 - val_loss: 1.6114 - val_accuracy: 0.1592
Epoch 2/30
26/26 - 1s - loss: 1.6057 - accuracy: 0.2114 - val_loss: 1.6145 - val_accuracy: 0.1642
Epoch 3/30
26/26 - 1s - loss: 1.5768 - accuracy: 0.3197 - val_loss: 1.6095 - val_accuracy: 0.2537
Epoch 4/30
26/26 - 1s - loss: 1.3421 - accuracy: 0.5000 - val_loss: 1.6969 - val_accuracy: 0.2537
Epoch 5/30
26/26 - 1s - loss: 0.8888 - accuracy: 0.5833 - val_loss: 2.0037 - val_accuracy: 0.3184
Epoch 6/30
26/26 - 1s - loss: 0.5103 - accuracy: 0.8259 - val_loss: 2.7253 - val_accuracy: 0.3134
Epoch 7/30
26/26 - 1s - loss: 0.2684 - accuracy: 0.9117 - val_loss: 2.8050 - val_accuracy: 0.2985
Epoch 8/30
26/26 - 1s - loss: 0.1483 - accuracy: 0.9590 - val_loss: 3.0948 - val_accuracy: 0.2836
Epoch 9/30
26/26 - 1s - loss: 0.0428 - accuracy: 0.9925 - val_loss: 3.7368 - val_accuracy: 0.3085
Epoch 10/30
26/26 - 1s - loss: 0.0156 - accuracy: 0.9988 - val_loss: 3.9989 - val_accuracy: 0.3035
Epoch 11/30
26/26 - 1s - loss: 0.0096 - accuracy: 0.9975 - val_loss: 4.3163 - val_accuracy: 0.3035
Epoch 12/30
26/26 - 1s - loss: 0.0043 - accuracy: 0.9988 - val_loss: 4.5316 - val_accuracy: 0.2935
Epoch 13/30
26/26 - 1s - loss: 0.0039 - accuracy: 0.9975 - val_loss: 4.6519 - val_accuracy: 0.2985
Epoch 14/30
26/26 - 1s - loss: 0.0021 - accuracy: 1.0000 - val_loss: 4.9743 - val_accuracy: 0.2935
Epoch 15/30
26/26 - 1s - loss: 0.0013 - accuracy: 1.0000 - val_loss: 5.1468 - val_accuracy: 0.2985
Epoch 16/30
26/26 - 1s - loss: 0.0011 - accuracy: 1.0000 - val_loss: 5.3193 - val_accuracy: 0.2786
Epoch 17/30
26/26 - 1s - loss: 7.3664e-04 - accuracy: 1.0000 - val_loss: 5.5342 - val_accuracy: 0.2786
Epoch 18/30
26/26 - 1s - loss: 6.4943e-04 - accuracy: 1.0000 - val_loss: 5.6849 - val_accuracy: 0.2786
Epoch 19/30
26/26 - 1s - loss: 4.8666e-04 - accuracy: 1.0000 - val_loss: 5.8300 - val_accuracy: 0.2836
Epoch 20/30
26/26 - 1s - loss: 4.1227e-04 - accuracy: 1.0000 - val_loss: 5.9832 - val_accuracy: 0.2786
Epoch 21/30
26/26 - 1s - loss: 4.1417e-04 - accuracy: 1.0000 - val_loss: 6.0871 - val_accuracy: 0.2786
Epoch 22/30
26/26 - 1s - loss: 3.3640e-04 - accuracy: 1.0000 - val_loss: 6.2047 - val_accuracy: 0.2886
Epoch 23/30
26/26 - 1s - loss: 3.0489e-04 - accuracy: 1.0000 - val_loss: 6.3075 - val_accuracy: 0.2786
Epoch 24/30
26/26 - 1s - loss: 2.6366e-04 - accuracy: 1.0000 - val_loss: 6.4506 - val_accuracy: 0.2786
Epoch 25/30
26/26 - 1s - loss: 2.2600e-04 - accuracy: 1.0000 - val_loss: 6.5680 - val_accuracy: 0.2786
Epoch 26/30
26/26 - 2s - loss: 2.0686e-04 - accuracy: 1.0000 - val_loss: 6.6771 - val_accuracy: 0.2786
Epoch 27/30
26/26 - 2s - loss: 1.8298e-04 - accuracy: 1.0000 - val_loss: 6.7727 - val_accuracy: 0.2786
Epoch 28/30
26/26 - 1s - loss: 1.7300e-04 - accuracy: 1.0000 - val_loss: 6.8814 - val_accuracy: 0.2836
Epoch 29/30
26/26 - 2s - loss: 1.5363e-04 - accuracy: 1.0000 - val_loss: 6.9818 - val_accuracy: 0.2786
Epoch 30/30
26/26 - 2s - loss: 1.4382e-04 - accuracy: 1.0000 - val_loss: 7.0356 - val_accuracy: 0.2736

Akurasi dari model kita menunjukkan terjadinya overfitting karena akurasi pada data testing sangat besar, sedangkan akurasi pada data validasi jauh lebih kecil. Hal ini masih sangat luar biasa karena kita hanya memiliki 1000 buah sampel data!